<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Starbucks Storefinder</title>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
	<style type="text/css">
		#map {
			height: 400px;
			width: 400px;
			background-image: url("/image/map.png");
			background-size: 400px 300px;
			background-repeat: no-repeat;
		}
	</style> 
</head>
<body>

	<div class="container-fluid">
		<h1>Starbucks Storefinder</h1>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Search</h3>
			</div>
			<div class="panel-body">
			<form action="/" class="form-horizontal">

					<div class="form-group">
						<label class="col-sm-2 control-label">Predefined
							locations:</label>
						<div class="col-sm-10">
							<a class="btn btn-default" th:each="location:${locations}"
							th:text="${location.key}"
							th:href="@{/(location=${{location.value}}, distance=${{selectedDistance}})}">Foo</a>
						</div>
					</div>

					<div class="form-group">
						<label for="location" class="col-sm-2 control-label">Location:</label>
						<div class="col-sm-2">
							<input id="location" name="location" th:value="${{location}}"
								type="text" class="form-control" placeholder="lat,long" />
						</div>
					</div>


					<div class="form-group">
						<label for="distance" class="col-sm-2 control-label">Distance:</label>
						<div class="col-sm-2">
							<select id="distance" name="distance" class="form-control">
								<option th:each="distance: ${distances}"
								th:value="${{distance}}" th:text="${distance}">Distance</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="submit" type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>

				</form>

			</div>
		</div>
		
		<div class="panel panel-default">

			<div id="resultList" class="panel-heading">
				<h3 class="panel-title">Results</h3>
			</div>

			<div class="panel-body">
			<div id="map" class="col-md-4" ></div>

				<div class="col-sm-8" style="margin-left: 1em">
					<div th:if="${stores.hasContent()}">
					  <p th:text="'Showing ' + ${stores.numberOfElements} + ' of ' + ${stores.totalElements} + ' results.'"></p>
					  <ol class="search-results">
					    <li class="search-result" th:each="store : ${stores}"
							th:text="${store.name} + ' - ' + ${store.address}">
					    </li>
						</ol>
					</div>
					 
					<p th:unless="${stores.hasContent()}" class="search-result no-results" >No Results</p>
				</div>
			</div>
		</div>
	</div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var stores = JSON.parse([[${jstores}]]);
	function initMap() {
	    var map;
	    var bounds = new google.maps.LatLngBounds();
	    
	    var location = $("#location").val(); 
		var coordinate = {
			lat: parseFloat(location.split(",")[0]),
			lng: parseFloat(location.split(",")[1])
		}
	              
	    // Display a map on the web page
	    var map = new google.maps.Map($("#map")[0], {
	          zoom: 14,
	          center: coordinate
	    });
	    
	    // Add multiple markers to map
	    var infoWindow = new google.maps.InfoWindow(), marker, i;
	    
	    // Place each marker on the map 
	    stores.forEach(function(store) {
	    	var position = new google.maps.LatLng(store.address.location.y, 
	    			store.address.location.x);
	        bounds.extend(position);
	        marker = new google.maps.Marker({
	            position: position,
	            map: map,
	            title: store.name 
	        });
	        
	        // Add info window to marker    
	        google.maps.event.addListener(marker, 'click', (function(marker, i) {
	            return function() {
	                infoWindow.setContent('<div><h5>'+store.name+'</h5><p>'
	                		+store.address.street+', '+store.address.zip+' '+store.address.city
	                		+'</p></div>'); 
	                infoWindow.open(map, marker);
	            }
	        })(marker, i));
	
	        // Center the map to fit all markers on the screen
	        map.fitBounds(bounds);
	    });
	}
	// Load initialize function
	google.maps.event.addDomListener(window, 'load', initMap);
	/*]]>*/
</script>
 
<script src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/1.12.4/jquery.min.js"
 th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.6/js/bootstrap.min.js"
 th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=KEY&amp;callback=initMap"
	type="text/javascript" async="async" defer="defer"></script>
 
</body>
</html>